src_cpp/
src_f90/Intnorm*
src_f90/all_trajfiles*
src_f90/*.o
src_f90/*~
src_f90/check*
src_f90/charge*
src_f90/diff*
src_f90/genconf_old*
src_f90/*.lammpstrj
src_f90/log*
src_f90/mwpe*
src_f90/newparams_genconf.py
src_f90/my_python_functions.pyc
src_f90/*.mod
src_f90/poly_charg.txt
src_f90/polyinp_fordiff*
.gitignore~
